<!DOCTYPE html>
<html>
    <head>
        <title>Hallo</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>User request</h1>
             <form class="st" action="/" method="GET">
            <label for="userName">search username:</label>
            <input type="text" id="userName" name="userName" required>
            <button type="submit">Suchen</button>
        </form>
        <div id="root">
            {{#if users}}
                <h2>Result:</h2>
                
                <ul>
                    {{#each users}}
                        <li>Name: {{this.name}}</li>
                        <li>Age: {{this.age}}</li>
                        <li>Reg: {{this.isReg}}</li><!-- Zeige die entsprechenden Eigenschaften an -->
                    {{/each}}
                </ul>
            {{/if}}
                
            
             </div>
             <button class="st" onclick="resetPath()">Seite aktualisieren</button>
             <script>
        function resetPath() {
            window.location.href = 'http://localhost:3000/';
        }
    </script>

    </body>
</html>